
.bgImage{
    background-image: url('~src/assets/image/back1.jpg');
    height: 600px;
    width: 2000px;
    background-repeat: no-repeat;
    position:relative;
      background-size: cover;
}
.marqueeText {
  
  display: inline-block;
 color: white;
 text-shadow: #c61919;
  position: relative;
  /* right: -129px; */
 left: 485px;
  top: 216px;
  font-size: 60px;
}

.marquee {
  display: flex;
  height: 300px;width: 300px;
 animation: slide 20s linear infinite;
 font-size: 25px;
}

@keyframes slide {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(50%);
    color: red; /* Change color in the middle */
  }
  100% {
    transform: translateX(100%);
  }
}

.divMargin{
  position: relative;
  top: 30px;
  padding: auto;
  height: 200px;
  // width: 300px;
 overflow: hidden;
  font-size: 20px;
  margin: auto;
  right: 60px;;
}
.paraText{
  top: -174px;
    position: relative;
    left: 600px;
    color: #050606;
    font-size: 17px;
}
.nameFormat{
  color: orange;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divFormat{
  position: relative;
  right: -54px;
  font-size: 18px;
  color: rgb(190, 156, 222);
}
.imageFormt{
  position: relative;
    top: -254px;
    left: 600px;
    perspective: 1000px;
   
}
.divFormat1{
  position: relative;
  left: 620px;
  font-size: 18px;
  color: rgb(190, 156, 222);
  top: -140px;

}

.imageFormt1{
  position: relative;
    top: -462px;
    right: -67px;
        perspective: 1000px;
   
}
.divFormatt{
  position: relative;
    left: 44px;
    font-size: 18px;
    color: rgb(190, 156, 222);
    top: -360px;

}

.imageFormtt{
  position: relative;
  top: -740px;
  left: 615px;
  perspective: 1000px;
   
}

.container {
  display: flex; /* or display: grid; */
  flex-direction: column; /* or grid-template-rows: auto; */
  align-items: stretch;
}


