<div>
  <div class="bgImage">
    <strong class="marqueeText">About Us</strong>
  </div>
  <div><br><br><br>
    <div class="divMargin">
      <strong class="marquee"><b><i>About Neev Constrotech</i></b></strong>
    </div>
    <div class="paraText">
      <b>
        <p>Neev Constrotech is a multidisciplinary organization operating since YEARSTo. Today we </p>
      </b>
      <b>
        <p>take pride in our services and contribution we made to Construction Industry. We are </p>
      </b>
      <b>
        <p>committed towards sustainable Growth. Our team has successfully overcame different </p>
      </b>
      <b>
        <p>challenges and completed each project with efficiency and commitment.</p>
      </b>
    </div>

  </div><br><br><br>
  <div class="divFormat">
    <strong>
      <h1 class="nameFormat">Quality Constructions</h1>
      <p>Neev is able to provide all the quality constructions services</p>
      <p>through planning and on-time completion of projects. Our</p>
      <p>dedicated team of architects, structural designers, and</p>
      <p>contractors enable to give you the best infrastructure for your</p>
      <p>dream projects like residential, commercial, and industrials, etc.</p>
    </strong>
  </div>
  <div class="imageFormt">
    <img src="assets/image/home.gif" height="500" width="720" alt="Image Description">
  </div>

  <div class="divFormat1">
    <strong>
      <h1 class="nameFormat">Structural Design & Safe Constructions</h1>
      <p>Structural safety plays an essential role in different construction</p>
      <p>projects. We at Neev constructions ensure to our valuable clients</p>
      <p>best architectural designs with safe constructions. There is no chance</p>
      <p>of any structural failures because we work with the latest equipment</p>
      <p>and construction procedures. Structural engineers are a highly</p>
      <p>specialized area of safe construction.</p>
    </strong>
  </div>

  <div class="imageFormt1">
    <img src="assets/image/safeF.gif" height="500" width="500" alt="Image Description">
  </div>


  <div class="divFormatt">
    <strong>
      <h1 class="nameFormat">Earthquake Resistant <br> <br> designs of structures</h1><br>
      <p>There is a need to build all the buildings with earthquake resistant</p>
      <p>design of structures. We can only improve the performance of a</p>
      <p>building by its flexibility. With ductile detailing, all the buildings</p>
      <p>provide more considerable deflections and enough time before the</p>
      <p>collapse of structure. Neev also ensures to make the Earthquake</p>
      <p>resistant design constructions of RCC building by considering</p>
      <p>earthquake load using the equivalent static load method.</p>
    </strong>
  </div> <div class="imageFormtt">
    <img src="assets/image/hero.gif" height="500" width="720" alt="Image Description">
  </div>
<div class="toAllBack">
    <button>Neevconstrotech.in</button>
</div>
</div>