.backGoundImage {

    height: 600px;
    width: 1415px;
    background-image: url('~src/assets/image/backk5.jpg');
    background-repeat: no-repeat;
    position:absolute;
    //background-position: center;
    background-size: cover;
    //background-position: 100%;
  }
  
  
  .homeBtn{
    font-size: large;
    color: brown;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 76px;
    height: 28px;
    //margin: 5px;
    // position: relative;
    background-color: aqua;
    margin: 5px;
  }
   .aboutBtn{
    font-size: large;
    color: brown;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 76px;
    height: 28px;
   // margin: top;
    // position: relative;
    background-color: aqua;
    margin: 50px;
    //float: right;
   }
   .homeTextDecor{
    color: peru;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    height: 271px;
      width: 815px;
    padding: 5px,5px;
   }
   .appSevice{
    font-size: large;
    color: brown;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 76px;
    height: 28px;
   // margin: top;
    // position: relative;
    background-color: aqua;
    margin: 50px;
   }