.back{
    background-color: red;
    height: 600px;
    width: 1415px;
    // background-image: url("backk5.jpg");
   }

   .homeBtn{
    font-size: large;
    color: brown;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 76px;
    height: 28px;
    /* float: left; */
    /* overflow: hidden; */
    margin: top;
    position: relative;
    background-color: aqua;
}
   