 


<div class="content-container">
    <div >
   <button routerLink="" class="backbutton">Neevconstrotech.in</button>
   <span class="wordrap">
     <p>We offer an end-to-end client experience that includes </p>
     <p>seamless communication, budgeting, staffing, on-site </p>
     <p>organization, and solid, quality handiwork every time. </p>
     <p>You can visit us forCivil Contractors, Engineering </p>
     <p>Consultants, Residential Builders,Structural Engineering </p>
     <p> Consultants, Structural Designers, Structural Engineers, </p>
     <p> Swimming Pool Construction Contractors, Civil Contractors  </p>
     <p> for Residential Retrofitting Contractors Valuers for Building  </p>
     <p>EstimationCivil Work’</p>
      </span>
      <div class="backToLinks">
       <h1>Quick Links</h1><br>
       <button routerLink="/homeMod/homeData">Home</button><br><br>
       <button routerLink="/aboutMod/aboutData">About Us</button><br><br>
        <button routerLink="/serviceMod/servicesData">Services</button><br><br>
       <button routerLink="/gallaryMod/gallaryModData">Gallary</button><br><br>
       <button routerLink="/projectMod/projectData">Our Project</button><br><br>
      </div>
     <div class="contactUs">
       <h1>Contact Us</h1>
       
        <span> <i class="material-icons">phone</i> +91-9970959289</span><br><br>
        <span>   <i class="material-icons">phone</i> +91-7387344996</span><br><br>
       <div><i class="material-icons">email</i> <p>{{emailAdress}}</p> </div>
     </div>
     <img class="logoImage" src="assets/image/final.png" height="200" width="200" alt="Image Description">

 </div>
 <div class="marquee-container">
  <i><h1 class="tagLine"> Your Dreams, our Passion</h1></i> 
</div>

</div>
