.imageFormat{
    height: 220px;
    width: 295px;
    position: relative;
    top: 20px;
    left: 15px 
  }

  .divFormat{
    position: relative;
    top: -135px;
    left: 336px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }