.imageFormat{
  height: 220px;
  width: 303px;
  position: relative;
  top: 95px;
  left: 15px;
}
  

  .divFormat{
    position: relative;
    top: -135px;
    left: 336px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    word-break: 2px;
    word-spacing: 6px;
    word-break: break-all;
  }