<div>
    <img src="assets/image/architect-3979490_640.jpg" class="imageFormat" alt="Image Description">
    <div class="divFormat">
        <h1>Architecture Planning & Interior Designing</h1>
        <p>Neev construction has been delivering quality design and professional service to 
         <br><br>its clients for 6 years. We have professionals in all phases of architecture, 
        <br><br>  planning, and modern interior design who are dedicated to providing that legacy 
         <br><br>of creativity. Our experienced professionals are ready to shape up your dream 
        <br><br>  projects in reality. We at Neev construction have both experience and knowledge 
        <br><br>polished with creativity to make our clients feel happy. The clients select our innovative
         <br><br> and beautiful designs for their desired projects. We are best in all types of architecture,
         <br> <br>planning, and interior design from small to large scale structures. You will surely experience
         <br><br> the customized interior design for your dream projects.</p>
    </div>
</div><app-footer></app-footer>