// .logoImage{
// position: relative;
// right: 100px;
// }
 .page{
     background-color: whitesmoke;
 }
.button1{
    font-size: 25px;
     position: relative;
     left: 150px;
    border: 1px solid black;
    background-color: solid rgb(255, 255, 255);
}



div label{

   
    position: relative;
    left: 148px;
    color: red;
    font-size: 20px;
}