<!-- <router-outlet></router-outlet> -->


<div >
    <img class="logoImage" src="assets/image/final.png" height="200" width="200" alt="Image Description">
    <button mat-raised-button color="primary" (click)="goToHome()" > <mat-icon>home</mat-icon>Home</button>
    <button mat-raised-button color="accent"(click)="goToAbout()" >About Us</button>
    <button mat-raised-button color="warn"(click)="goToService()"  > Services</button>
    <button mat-raised-button color="primary"(click)="goToGallary()" > Gallary</button>
  <button mat-raised-button color="warn"(click)="goToProject()"  > Our Project</button>

    <!-- <button (click)="goToHome()" class="button1">Home</button>
    <button (click)="goToAbout()" class="button1">About Us</button>
    <button (click)="goToService()"  class="button1">Services</button>
    <button (click)="goToGallary()"  class="button1">Gallary</button>
    <button (click)="goToProject()"  class="button1">Our Project</button> -->
    <label>+91-9970959289, +91-7387344996</label>
</div>
<router-outlet></router-outlet>
