<div class="bigDiv" >
    <!-- Add this script in your HTML -->

  
    <div class="bgImage">

        <strong class="marquee"><br><br><br><br><br><br><br><br>
            <p class="text-with-shadow">We Have Been Successfully Delivering Projects</p>  <br>
            <p class="text-with-shadow">For Our New And Repeated Clients.</p> </strong>
    </div>

    <br><br><br><br><br><br>
    <div>
        <img class="logoImage" src="assets/image/about1.jpg" height="300" width="400" alt="Image Description">
    
        <h1 class="about"><strong><u>About Neev Constrotech</u></strong></h1>
        <span class="data"><b>
            <p>We offer an end-to-end client experience that includes seamless communication,</p>
            <p>budgeting, staffing, on-site organization, and solid, quality handiwork every time. You can</p>
            <p>visit us for Civil Contractors, Engineering Consultants, Residential Builders, Structural</p>
            <p>Engineering Consultants, Structural Designers, Structural Engineers, Swimming Pool</p>
            <p>Construction Contractors, Civil Contractors for Residential Retrofitting Contractors</p>
            <p>Valuers for Building Estimation Civil Work’</p>
        </b>
           
        </span><br><br> 
        <button mat-raised-button color="accent" class="btn" (click)="goToAbout()">Learn More</button>
    
    
    </div>
    
    


</div>
