<div>
<div class="bgImage">
    <div class="divMargin">
        <strong class="marquee"><i>Our Services</i></strong>
      </div>
</div>

<div class="whatToDo">
    <h1>WHAT WE DO?</h1>
    
</div>
<p class="whatToDop">Safe & Efficient Construction of your project Is our Engineering Team’s
    Responsibility</p>

    <div class="divformat">
        <img src="assets/image/estimate.avif" class="imageFormat" alt="Image Description">
        <div class="dataFormat">
            <h1> <u><i><strong>Estimation and Costing</strong> </i></u></h1>
            <p class="pra">The initial phase of any construction project is cost-
            estimating and pre-construction services. We check
            every possible angle of construction, determine
            scenarios, calculate costs, and estimate expenses.</p>
        </div>
        <div class="button">
            <button mat-raised-button color="primary"  >Read More</button>

        </div>
        
    </div>


    <div class="divformat1">
        <img src="assets/image/contract3.jpg" class="imageFormat" alt="Image Description">
        <div class="dataFormat">
            <h1> <u><i><strong>Building Contractor</strong> </i></u></h1>
            <p class="pra">Neev Constrotech is a team of skilled and 
                licensed building contractors who have a vast 
                experience to meet  the client’s expectations</p>
        </div>
        <div class="button">
            <button mat-raised-button color="primary"  >Read More</button>

        </div>
        
    </div>


    <div class="divformat2">
        <img src="assets/image/safe2.jpg" class="imageFormat" alt="Image Description">
        <div class="dataFormat">
            <h1> <u><i><strong>Construction</strong> </i></u></h1>
            <p class="pra">We build your dream projects with a solid 
                focus on quality. Neev Constrotech provide general 
                construction, estimating, and structure designs to meet
                 expectations on every project.</p>
        </div>
        <div class="button">
            <button mat-raised-button color="primary"  >Read More</button>

        </div>
        
    </div>

    <div class="divformat3">
        <img src="assets/image/architect-3979490_640.jpg" class="imageFormat" alt="Image Description">
        <div class="dataFormat">
            <h1> <u><i><strong>Architecture Planning & Interior <br>Designing</strong> </i></u></h1>
            <p class="pra">Neev Constrotech has been delivering quality design 
                and professional service to its clients for 6 years. We have 
                professionals in all phases of architecture, planning, </p>
        </div>
        <div class="button">
            <button mat-raised-button color="primary"  >Read More</button>

        </div>
        <div class="smallImage">
            <div class="divd">
                <h1 class="text">OVERVIEW</h1>
                <p class="text-overlay">We at Neev Constrotech, ensure to complete your project with the proper <br><br>
                  guidance and quality  construction services. Our clients have 
                  to go with a <br> <br>single channel of communication to show their
                   requirements. We clearly <br><br> provide the overall analysis, 
                   feasibility, strategy, and cost <br><br> estimation of the project to 
                   our valuable clients. Neev Constrotech also takes  <br><br>responsibility todesign 
                   and build your dream projects. You will surely feel <br><br> free to get 
                   all the quality construction  services at Neev. </p>
            </div>
        </div>
       
    </div>
</div>
<app-footer></app-footer>