
<div>
    <img src="assets/image/neev5.jpeg" height="100" width="100" alt="Image Description">
    <!-- <Span><strong>Neev Constructors</strong></Span><br>construction & structure Consullants Design -->
    <button (click)="goToHome()">Home</button>
    <button (click)="goToAbout()">About Us</button>
    <button (click)="goToService()">Services</button>
    <button (click)="goToGallary()">Gallary</button>
    <button (click)="goToProject()">Our Project</button>
    <label>+919970959289, +917387344996</label>
</div>

